{
  "tabWidth": 2,  
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "printWidth": 100,
  "trailingComma": "all",
  "svelteSortOrder": "scripts-markup-styles",
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."], 
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "[svelte]": {
    "editor.formatOnSave": true,
    "editor.defaultFormatter": "svelte.svelte-vscode"
  }
}